@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Coffee #Sharp!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core </a> and also drink coffee!</p>
</div>

<div>
    <p> Don't miss out on our great deals! <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserForm">Register for free HERE.</a></p>
</div>

<div>
    <h2>Check out some of our Products</h2>

</div>



